body{
    background-color: rgb(95, 89, 89);
    color: white;
}
h1{
    font-size: 80px;
    text-align: center;
    color: white;
}
.input{
    width: 300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    
}
.input .gender{
    background-color: black;
    padding: 10px;
    margin: 10px;
}
.input .tour{
    border: black 3px solid;
    padding: 10px;
    margin: 10px;
}
.input input{
    padding: 15px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    border: white;
}
.input .btn{
    background-color: rgb(54, 52, 52);
    border-radius: 20px;
    border: white 2px solid;
    width: 300px;
    height: 50px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    
}
.input .btn:hover{
    transform: scale(1.2);
    transition: 2ms;
}
footer{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
/* 여기부터 php */

table{
    font-size: 30px;
    padding: 15px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
