.background{background-color: rgb(202, 231, 235);}
body{
    text-align: center;
}
p{
    padding: 30px;
}    
a{
    text-decoration: none;
    font-size: 50px;
    color: rgb(56, 156, 16);
    font-weight: 700;
}