body{
    background-color: rgb(95, 89, 89);
}
h1{
    font-size: 80px;
    text-align: center;
    color: white;
}
.input{
    width: 300px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    
}
.input input{
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    border: white;
}
.btn p{
    background-color: rgb(54, 52, 52);
    border-radius: 20px;
    border: white 2px solid;
    width: 300px;
    height: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    
}
.btn:hover{
    transform: scale(1.2);
    transition: 2ms;
}